body {
  font-family: arial,sans-serif;
}


/* Navbar  */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul li{
  /* display: inline; */
  float: left;
}
nav ul li.right{
  /* display: inline; */
  float: right;
}
nav ul li.sign-in a{
  background-color: blue;
  color: white;
}

ul li a{
  /* display: inline; */
  display: block;
  padding: 6px 10px;
  text-decoration: none;
  color: #5f6368;
}
/* Main Div */
.main img, input {
  display: block;
  margin: auto;
}
.main input{
  width: 550px;
  height: 40px;
  border-radius: 20px;
  font-size: larger;
}
 /* Buttons Section */
.main .buttons {
  margin-top: 30px;
  text-align: -webkit-center;
}

/* Individual Buttons */
.main .buttons button {
  font-size: medium;
  border: 1px solid #f2f2f2;
  padding: 10px;
  margin: 0 5px;
  border-radius: 4px;
}

.main .buttons button:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Center  Search Placeholder Text */
::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}

footer ul {
  background-color: #dddddd;
  position: fixed;
  bottom: 0;
  width: 100%;
}